<%- include( "partials/header" ) -%>
<h1>¡Hola! Hello! こんにちは！</h1>
<p><%= startingContent %></p>
<% posts.forEach( function( post, index ){ %>
<h1><%= post.title %></h1>
<p><%= post.content %></p>
<% }); %>

<%- include( "partials/footer" ) -%>
